# Project 3 - Part 3 (Core)

For part 3 of the project you will be practicing applying an E.T.L process on your previously saved movie data. Specifically, you will create a new MySQL database after preparing the data for a relational database. You will export your database to a .sql file in your repository using MySQL Workbench.

## Specifications - Database

- Your stakeholder wants you to take the data you have been cleaning and collecting in Parts 1 & 2 of the project and wants you to create a MySQL database for them.

- Specifically, they want the data from the following files included in your database:

- Title Basics:
 - Movie ID (tconst)
 - Primary Title
 - Start Year
 - Runtime (in Minutes)
 - Genres
 
- Title Ratings:
 - Movie ID (tconst)
 - Average Movie Rating
 - Number of Votes

- The TMDB API Results (multiple files)
 - Movie ID
 - Revenue
 - Budget
 - Certification (MPAA Rating)

- You should normalize the tables as best you can before adding them to your new database.

 - Note: an important exception to their request is that they would like you to keep all of the data from the TMDB API in 1 table together (even though it will not be perfectly normalized).
 - You only need to keep the imdb_id, revenue, budget, and certification columns

### Required Transformation Steps for Title Basics:

- Normalize Genre:
 - Convert the single string of genres from title basics into 2 new tables.
1. title_genres: with the columns:
 - tconst
 - genre_id

2. genres:
 - genre_id
 - genre_name
 
 Discard unnecessary information:

For the title basics table, drop the following columns:
 - "original_title" (we will use the primary title column instead)
 - "isAdult" ("Adult" will show up in the genres so this is redundant information).
 - "titleType" (every row will be a movie).
 - "genres" and other variants of genre (genre is now represented in the 2 new tables described above.
 - Do not include the title_akas table in your SQL database.
 - You have already filtered out the desired movies using this table, and the remaining data is mostly nulls and not of interest to the stakeholder.

### MySQL Database Requirements

- Use sqlalchemy with Pandas to execute your SQL queries inside your notebook.

- Create a new database on your MySQL server and call it "movies."

- Make sure to have the following tables in your "movies" database:

 - title_basics
 - title_ratings
 - title_genres
 - genres
 - tmdb_data

- Make sure to set a Primary Key for each table that isn't a joiner table (e.g., title_genres is a joiner table).

- After creating each table, show the first 5 rows of that table using a SQL query.

- Make sure to run the "SHOW TABLES" SQL query at the end of your notebook to show that all required tables have been created.

## Deliverables

Submit a link to your github repository containing the Jupyter Notebook file.

In [2]:
import json
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats


import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [3]:
basics = pd.read_csv('Data/basics2.csv.gz')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,70,Drama
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,90,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...
81888,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,74,Drama
81889,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019.0,97,"Comedy,Drama,Fantasy"
81890,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,51,Drama
81891,tt9916190,movie,Safeguard,Safeguard,0,2020.0,95,"Action,Adventure,Thriller"
81892,tt9916362,movie,Coven,Akelarre,0,2020.0,92,"Drama,History"

In [4]:
ratings = pd.read_csv('Data/ratings_filtered.csv.gz')
ratings

           tconst  averageRating  numVotes
0       tt0000001            5.7      1992
1       tt0000002            5.8       266
2       tt0000005            6.2      2656
3       tt0000006            5.0       182
4       tt0000007            5.4       832
...           ...            ...       ...
505946  tt9916200            8.1       234
505947  tt9916204            8.1       268
505948  tt9916348            8.3        18
505949  tt9916362            6.4      5511
505950  tt9916428            3.6        16

[505951 rows x 3 columns]

In [10]:
basics = basics.drop(columns = ['titleType','originalTitle','isAdult'])
basics

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama
2,tt0068865,Lives of Performers,2016.0,90,Drama
3,tt0069049,The Other Side of the Wind,2018.0,122,Drama
4,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...
81888,tt9914942,Life Without Sara Amat,2019.0,74,Drama
81889,tt9915872,The Last White Witch,2019.0,97,"Comedy,Drama,Fantasy"
81890,tt9916170,The Rehearsal,2019.0,51,Drama
81891,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller"
81892,tt9916362,Coven,2020.0,92,"Drama,History"

In [13]:
final_tmdb_data_2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
final_tmdb_data_2000

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.0,1.0,NaN
4,tt0116748,0.0,/wr0hTHwkYIRC82MwNbhOvqrw27N.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,579396.0,hi,Karobaar,...,0.0,180.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The Business of Love,Karobaar,0.0,7.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7243,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0,NaN
7244,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0,NaN
7245,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0,NaN
7246,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0,NaN
7247,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0,NaN

In [14]:
final_tmdb_data_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')
final_tmdb_data_2001

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,2021-02-10,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0
2,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,2021-02-10,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0
3,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,2021-02-10,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0
4,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,2021-02-10,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8899,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,2021-02-10,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0
8900,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,2021-02-10,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0
8901,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,2021-02-10,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0
8902,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,2021-02-10,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0
8903,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,2021-02-10,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0

In [15]:
tmdb_merged = pd.concat([final_tmdb_data_2001,final_tmdb_data_2000], ignore_index = True, sort = False)
tmdb_merged

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0,NaN
2,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0,NaN
3,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0,NaN
4,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16147,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0,NaN
16148,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0,NaN
16149,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0,NaN
16150,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0,NaN
16151,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.9,2243.0,NaN

In [16]:
tmdb_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16152 entries, 0 to 16151
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                16152 non-null  object
 1   adult                  16150 non-null  float64
 2   backdrop_path          13396 non-null  object
 3   belongs_to_collection  244 non-null    object
 4   budget                 16150 non-null  float64
 5   genres                 16150 non-null  object
 6   homepage               12082 non-null  object
 7   id                     16150 non-null  float64
 8   original_language      16150 non-null  object
 9   original_title         16150 non-null  object
 10  overview               15619 non-null  object
 11  popularity             16150 non-null  float64
 12  poster_path            15252 non-null  object
 13  production_companies   16150 non-null  object
 14  production_countries   16150 non-null  object
 15  release_date           16079 non-null  object
 16  revenue                16150 non-null  float64
 17  runtime                16150 non-null  float64
 18  spoken_languages       16150 non-null  object
 19  status                 16150 non-null  object
 20  tagline                12895 non-null  object
 21  title                  16150 non-null  object
 22  video                  16150 non-null  float64
 23  vote_average           16150 non-null  float64
 24  vote_count             16150 non-null  float64
 25  certification          782 non-null    object
dtypes: float64(9), object(17)
memory usage: 3.2+ MB

In [22]:
tmdb_merged = tmdb_merged.drop(columns = ['adult','backdrop_path','belongs_to_collection','genres','homepage','id','original_language','original_title','overview','popularity','poster_path','production_companies','production_countries','release_date','runtime','spoken_languages','status','tagline','title','video','vote_average','vote_count'])
tmdb_merged

         imdb_id      budget      revenue certification
0              0         NaN          NaN           NaN
1      tt1361336  50000000.0  136536687.0           NaN
2      tt1361336  50000000.0  136536687.0           NaN
3      tt1361336  50000000.0  136536687.0           NaN
4      tt1361336  50000000.0  136536687.0           NaN
...          ...         ...          ...           ...
16147  tt1361336  50000000.0  136536687.0           NaN
16148  tt1361336  50000000.0  136536687.0           NaN
16149  tt1361336  50000000.0  136536687.0           NaN
16150  tt1361336  50000000.0  136536687.0           NaN
16151  tt1361336  50000000.0  136536687.0           NaN

[16152 rows x 4 columns]

In [30]:
tmdb_merged = tmdb_merged.dropna(subset=['revenue','certification'])
tmdb_merged

         imdb_id      budget     revenue certification
8909   tt0118694    150000.0  14204632.0            PG
8910   tt0118852         0.0         0.0             R
8911   tt0119027         0.0         0.0             R
8912   tt0119273  15000000.0         0.0             R
8914   tt0119495         0.0         0.0             R
...          ...         ...         ...           ...
13098  tt5886564         0.0         0.0         NC-17
13106  tt6035378         0.0         0.0            NR
13137  tt7631368  10000000.0         0.0            NR
13158  tt9372420      1000.0         0.0            NR
13163  tt9529596         0.0         0.0             R

[782 rows x 4 columns]

In [31]:
tmdb_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 8909 to 13163
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        782 non-null    object
 1   budget         782 non-null    float64
 2   revenue        782 non-null    float64
 3   certification  782 non-null    object
dtypes: float64(2), object(2)
memory usage: 30.5+ KB

In [32]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505951 entries, 0 to 505950
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         505951 non-null  object
 1   averageRating  505951 non-null  float64
 2   numVotes       505951 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.6+ MB

In [33]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81893 entries, 0 to 81892
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81893 non-null  object
 1   primaryTitle    81893 non-null  object
 2   startYear       81893 non-null  float64
 3   runtimeMinutes  81893 non-null  int64
 4   genres          81893 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 3.1+ MB

---

## Required Transformation Steps for Title Basics:

### I) Normalizing Genres - Overview

#### 1. Getting a List of Unique Genres

In [34]:
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,[Drama]
2,tt0068865,Lives of Performers,2016.0,90,Drama,[Drama]
3,tt0069049,The Other Side of the Wind,2018.0,122,Drama,[Drama]
4,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...
81888,tt9914942,Life Without Sara Amat,2019.0,74,Drama,[Drama]
81889,tt9915872,The Last White Witch,2019.0,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
81890,tt9916170,The Rehearsal,2019.0,51,Drama,[Drama]
81891,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
81892,tt9916362,Coven,2020.0,92,"Drama,History","[Drama, History]"

In [40]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,Drama
2,tt0068865,Lives of Performers,2016.0,90,Drama,Drama
...,...,...,...,...,...,...
81891,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller",Action
81891,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller",Adventure
81891,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller",Thriller
81892,tt9916362,Coven,2020.0,92,"Drama,History",Drama
81892,tt9916362,Coven,2020.0,92,"Drama,History",History

In [41]:
genres_split = basics['genres'].str.split(",")

In [42]:
unique_genres = genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror', 'Sci-Fi',
       'Biography', 'Mystery', 'Musical', 'Action', 'Adventure', 'Crime',
       'Thriller', 'Music', 'Animation', 'Family', 'History', 'War',
       'Sport', 'Western', 'Adult', 'Reality-TV', 'News', 'Talk-Show',
       'Game-Show'], dtype=object)

In [43]:
unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

#### 2. Create a new title_genres table

In [44]:
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0068865        Drama

#### 3. Create a genre mapper dictionary to replace string genres with integers

In [45]:
genre_id_map = dict(zip(unique_genres,range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

#### 4. Replace the string genres in title_genres with the new integer ids.

In [61]:
title_genres['genre_id'] = title_genres['genres_split'].replace(genre_id_map)

In [62]:
title_genres = title_genres.drop(columns='genres_split')

In [63]:
title_genres

          tconst  genre_id
0      tt0035423         5
0      tt0035423         9
0      tt0035423        18
1      tt0062336         7
2      tt0068865         7
...          ...       ...
81891  tt9916190         0
81891  tt9916190         2
81891  tt9916190        22
81892  tt9916362         7
81892  tt9916362        11

[153569 rows x 2 columns]

In [65]:
genre_lookup = pd.DataFrame({'Genre_Name': genre_id_map.keys(),
                             'Genre_ID': genre_id_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

---

# II) Saving the MySQL tables with tconst as the primary key.

### Using tconst as the primary key.

- To use a string column as our primary key, we will need to provide the SQL datatype schema of our columns when we create the table.

 - We will then use our engine to run the command to alter our table and add tconst as the primary key.

### 1. Creating a dataype schema for to_sql:

In [83]:
username = "root"
password = "root"
db_name = "sakila"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [84]:
engine = create_engine(connection)

In [85]:
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [80]:
basics.dtypes

tconst             object
primaryTitle       object
startYear         float64
runtimeMinutes      int64
genres             object
genre_id           object
dtype: object

In [81]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81893 entries, 0 to 81892
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81893 non-null  object
 1   primaryTitle    81893 non-null  object
 2   startYear       81893 non-null  float64
 3   runtimeMinutes  81893 non-null  int64
 4   genres          81893 non-null  object
 5   genre_id        81893 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 3.7+ MB

In [75]:
from sqlalchemy.types import *

In [90]:
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()

df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [91]:
basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO title_basics (tconst, `primaryTitle`, `startYear`, `runtimeMinutes`, genres, genre_id) VALUES (%(tconst)s, %(primaryTitle)s, %(startYear)s, %(runtimeMinutes)s, %(genres)s, %(genre_id)s)]
[parameters: ({'tconst': 'tt0035423', 'primaryTitle': 'Kate & Leopold', 'startYear': 2001.0, 'runtimeMinutes': 118, 'genres': 'Comedy,Fantasy,Romance', 'genre_id': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'startYear': 2020.0, 'runtimeMinutes': 70, 'genres': 'Drama', 'genre_id': ['Drama']}, {'tconst': 'tt0068865', 'primaryTitle': 'Lives of Performers', 'startYear': 2016.0, 'runtimeMinutes': 90, 'genres': 'Drama', 'genre_id': ['Drama']}, {'tconst': 'tt0069049', 'primaryTitle': 'The Other Side of the Wind', 'startYear': 2018.0, 'runtimeMinutes': 122, 'genres': 'Drama', 'genre_id': ['Drama']}, {'tconst': 'tt0088751', 'primaryTitle': 'The Naked Monster', 'startYear': 2005.0, 'runtimeMinutes': 100, 'genres': 'Comedy,Horror,Sci-Fi', 'genre_id': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0096056', 'primaryTitle': 'Crime and Punishment', 'startYear': 2002.0, 'runtimeMinutes': 126, 'genres': 'Drama', 'genre_id': ['Drama']}, {'tconst': 'tt0100275', 'primaryTitle': 'The Wandering Soap Opera', 'startYear': 2017.0, 'runtimeMinutes': 80, 'genres': 'Comedy,Drama,Fantasy', 'genre_id': ['Comedy', 'Drama', 'Fantasy']}, {'tconst': 'tt0103340', 'primaryTitle': 'Life for Life: Maximilian Kolbe', 'startYear': 2006.0, 'runtimeMinutes': 90, 'genres': 'Biography,Drama', 'genre_id': ['Biography', 'Drama']}  ... displaying 10 of 81893 total bound parameter sets ...  {'tconst': 'tt9916190', 'primaryTitle': 'Safeguard', 'startYear': 2020.0, 'runtimeMinutes': 95, 'genres': 'Action,Adventure,Thriller', 'genre_id': ['Action', 'Adventure', 'Thriller']}, {'tconst': 'tt9916362', 'primaryTitle': 'Coven', 'startYear': 2020.0, 'runtimeMinutes': 92, 'genres': 'Drama,History', 'genre_id': ['Drama', 'History']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [92]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')